In [7]:
#bibliotecas utilizadas
#pip install pandas

import pandas as pd

### Download Dataset

In [ ]:
#pip install kaggle
#!kaggle datasets download -d hugovallejo/brazil-exports
#!unzip brazil-exports.zip 
#!rm -rf brazil-exports.zip

In [14]:
data = pd.read_csv('exportacao_full.csv')
column_names_mapping = {
    'Year': 'Ano',
    'Month': 'Mes',
    'Country': 'Pais',
    'City': 'Cidade',
    'SH4 Code': 'CodigoSH4',
    'SH4 Description': 'DescricaoSH4',
    'SH2 Code': 'CodigoSH2',
    'SH2 Description': 'DescricaoSH2',
    'Economic Block': 'Blocoeconomico',
    'US$ FOB': 'ValorFOBUS',
    'Net Weight': 'PesoLiquido'
}

data.rename(columns=column_names_mapping, inplace=True)

data.head()

,Ano,Mes,Pais,Cidade,CodigoSH4,DescricaoSH4,CodigoSH2,DescricaoSH2,Blocoeconomico,ValorFOBUS,PesoLiquido
0,2010,1,Afghanistan,Itajaí - SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),197162,99945
1,2010,1,Afghanistan,Lapa - PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),114570,76989
2,2010,1,Afghanistan,Rolândia - PR,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),72900,54000
3,2010,1,Afghanistan,São Paulo - SP,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),153593,106541
4,2010,1,Afghanistan,Xaxim - SC,207,"Meat and edible offal, of the poultry of headi...",2,Meat and edible meat offal,Asia (minus MIDDLE EAST),26739,24990

In [17]:
# Verifica a quantidade de valores nulos em cada coluna
null_counts = data.isna().sum()

# Verifica a quantidade de strings vazias em cada coluna
empty_string_counts = (data == '').sum()

# Verifica a quantidade de valores problemáticos (pode ser específico para os seus dados)
problematic_value_counts = (data['ValorFOBUS'] <= 0).sum()  

# Mostra um resumo das informações sobre o DataFrame
data_info = data.info()

# Exibe os resultados
print("Quantidade de Valores Nulos em Cada Coluna:")
print(null_counts)
print("\nQuantidade de Strings Vazias em Cada Coluna:")
print(empty_string_counts)
print("\nQuantidade de Valores Problemáticos:")
print(problematic_value_counts)
print("\nResumo das Informações do DataFrame:")
print(data_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13124813 entries, 0 to 13124812
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   Ano             int64
 1   Mes             int64
 2   Pais            object
 3   Cidade          object
 4   CodigoSH4       int64
 5   DescricaoSH4    object
 6   CodigoSH2       int64
 7   DescricaoSH2    object
 8   Blocoeconomico  object
 9   ValorFOBUS      int64
 10  PesoLiquido     int64
dtypes: int64(6), object(5)
memory usage: 1.1+ GB
Quantidade de Valores Nulos em Cada Coluna:
Ano               0
Mes               0
Pais              0
Cidade            0
CodigoSH4         0
DescricaoSH4      0
CodigoSH2         0
DescricaoSH2      0
Blocoeconomico    0
ValorFOBUS        0
PesoLiquido       0
dtype: int64

Quantidade de Strings Vazias em Cada Coluna:
Ano               0
Mes               0
Pais              0
Cidade            0
CodigoSH4         0
DescricaoSH4      0
CodigoSH2         0
DescricaoSH2      0
Blocoeconomico    0
ValorFOBUS        0
PesoLiquido       0
dtype: int64

Quantidade de Valores Problemáticos:
20591

Resumo das Informações do DataFrame:
None

In [20]:
# Verifica linhas duplicadas com base em todas as colunas
duplicates = data[data.duplicated()]

# Remove linhas duplicadas (mantém a primeira ocorrência)
data_no_duplicates = data.drop_duplicates()

# Exibe as linhas duplicadas
print("Linhas Duplicadas:")
print(duplicates)

# Exibe as estatísticas após a remoção de duplicatas
print("\nEstatísticas após Remoção de Duplicatas:")
print(data_no_duplicates.info())

Linhas Duplicadas:
Empty DataFrame
Columns: [Ano, Mes, Pais, Cidade, CodigoSH4, DescricaoSH4, CodigoSH2, DescricaoSH2, Blocoeconomico, ValorFOBUS, PesoLiquido]
Index: []

Estatísticas após Remoção de Duplicatas:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13124813 entries, 0 to 13124812
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   Ano             int64
 1   Mes             int64
 2   Pais            object
 3   Cidade          object
 4   CodigoSH4       int64
 5   DescricaoSH4    object
 6   CodigoSH2       int64
 7   DescricaoSH2    object
 8   Blocoeconomico  object
 9   ValorFOBUS      int64
 10  PesoLiquido     int64
dtypes: int64(6), object(5)
memory usage: 1.2+ GB
None